*{
    font-family:sans-serif;
}

/* Main Header and Nav */
header{
display: flex;
justify-content: space-between;
padding: 1px;
background: #13293d;
color: white;
height: 100px;
}

header h1 {
    border-top:30px;
    border-left: 0;
    border-right: 0;
    border-bottom: 30px;
    border-style: solid;
    border-color: #13293d;
    font-size: 40px;
    padding: 0 50px 0;
}

header a{
    font-size: 20px;
    color: white;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-nav-items a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;

}

.top-nav-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 40%;
    
}

.top-nav-items li{
    padding: 8px;
    border-top: 32px;
    border-left: 0;
    border-right: 0;
    border-bottom: 32px;
    border-style: solid;
    border-color: #13293d;
}

/* Banner with colorful image background.  */
.banner {
    background-image: url(../images/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
    height: 350px;
    position: relative;
}

.banner div{
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 350px;
    padding-top: 240px;
    padding-right: 100px;

}

.banner h2 {
    display:flex;
    justify-content: right;
    font-size: 30px;
    color: black;
    background-color: lightslategray;
    height: 75px;
    width: 250px;
    border: 6px solid lightslategray;
}

/* Main content section */

main h2 {
    font-size: 45px;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 10px;
}

.text{
    font-size: 22px;
}

.container{
    width: 92%;
    padding-bottom: 120px;
    margin: 40px auto 0px auto;
    display: grid;
    grid-template-columns: 18% 74%;
    gap:2%;
    position: relative;
}
.topics{
    height: 100%;
    width: 100%;
    border-right: 5px solid lightslategray;
}
/* Portfolio Images Grid */
.work-tabs {
    width: 92%;
    padding-bottom: 120px;
    margin: 40px auto 0px auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 420px 215px 215px;
    grid-template-areas: "p0 p0" "p1 p2" "p3 p4";
    gap:20px;
}

figcaption {
    background-color: lightslategray;
    padding: 10px;
    position: absolute;
    bottom: 40px;
}

.caption {
    font-weight: bold;
    color: black;
    font-size: 26px;
}

/* Grid Positions */
.p0 {
    grid-area: p0;
}

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

.p3 {
    grid-area: p3;
}

.p4 {
    grid-area: p4;
}

figure {
    width: 100%;
    position: relative;
    border: 5px solid green;
}

.work-tabs img{
    object-fit: cover;
    width: 100%;
}

.contact {
    height: 150px;
    width: 100%;
}