*{
    font-family:serif;
}

/* Main Header and Nav */
header{
display: flex;
justify-content: space-between;
padding: 1px;
background: #13293d;
color: white;
}

header h1 {
    font-size: 40px;
    padding: 0 15px 0 5%;
    line-height: normal;
}

header a{
    font-size: 20px;
    color: white;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav a{
    display: flex;
    justify-content: center;
}

.nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.nav li{
    padding: 5px;
    border-top: 50px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: #13293d;
}

.banner {
   height: 200px; 
   width: 100%;
   background-color: bisque;
}

/* Main content section */
.container{
    height: 800px;
    width: 100%;
}
.topics{
    height: 100px;
    width: 100%;
}